## Analysis on HTSC
With the depth data for Huatai Securities (traded on LSE) on 7th November 2019, we were able to analyze order-to-trade ratio as well as to find examples for order entry, amendment and cancellation in the data for that specific trading day.

We calculated an order-to-trade ratio of around 1.39. This number is not surprising as the data comes from London Stock Exchange where high frequency traders are active (as e.g. compared to Chinese stock exchanges where there is less activity from market participants with strategies that include submitting orders without the intention of an actual trade) and thus there is a significantly higher number of orders than trades.

In [2]:
import csv
import pandas as pd
import datetime as dt

In [4]:
HTSC_TAS_File = open('../Lecture_11_Student/data/HTSC_TAS.csv', mode='rt')
HTSC_TAS_Data = csv.DictReader(HTSC_TAS_File)
Market_Is_Open = False

Trade_Count = 0
Quote_Count = 0

for transaction in HTSC_TAS_Data:

    if transaction['Type'] == 'Mkt. Condition':
        if 'TRD' in transaction['Qualifiers']:
            Market_Is_Open = True
        else:
            Market_Is_Open = False

    if Market_Is_Open:
        if transaction['Type'] == 'Trade':
            Trade_Count += 1
        if transaction['Type'] == 'Quote':
            Quote_Count += 1
            
print('order-to-trade ratio:', (Quote_Count - Trade_Count) / Trade_Count)

order-to-trade ratio: 1.3898305084745763

Using both depth and time-and-sales data for 7th November 2019, we identified examples for order entry, amendment and cancellation by inspecting changes in depth at different price levels while at the same time taking possible simultaneous trades into consideration.

In [7]:
HTSC_TAS_df = pd.read_csv('../Lecture_11_Student/data/HTSC_TAS.csv', parse_dates=['Date-Time'])
HTSC_depth_df = pd.read_csv('../Lecture_11_Student/data/HTSC_depth.csv', parse_dates=['Date-Time'])

HTSC_TAS_df['Date-Time'] = HTSC_TAS_df['Date-Time'].map(lambda x: x.strftime('%Y-%m-%dT%H:%M:%S.%f'))
HTSC_depth_df['Date-Time'] = HTSC_depth_df['Date-Time'].map(lambda x: x.strftime('%Y-%m-%dT%H:%M:%S.%f'))

In [8]:
HTSC_TAS_df = HTSC_TAS_df[['Date-Time', 'Type']]

In [9]:
HTSC_depth_df

,#RIC,Domain,Date-Time,GMT Offset,Type,L1-BidPrice,L1-BidSize,L1-BuyNo,L1-AskPrice,L1-AskSize,...,L9-BuyNo,L9-AskPrice,L9-AskSize,L9-SellNo,L10-BidPrice,L10-BidSize,L10-BuyNo,L10-AskPrice,L10-AskSize,L10-SellNo
0,HTSCq.L,Market Price,2019-11-06T17:30:00.273459,0,Normalized LL2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HTSCq.L,Market Price,2019-11-07T08:50:00.055148,0,Normalized LL2,NaN,NaN,NaN,25.45,25000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HTSCq.L,Market Price,2019-11-07T08:50:00.055148,0,Normalized LL2,NaN,NaN,NaN,25.45,25000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HTSCq.L,Market Price,2019-11-07T08:50:02.057367,0,Normalized LL2,NaN,NaN,NaN,25.45,25000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HTSCq.L,Market Price,2019-11-07T08:50:02.057367,0,Normalized LL2,NaN,NaN,NaN,25.45,25000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2837,HTSCq.L,Market Price,2019-11-07T17:00:00.081069,0,Normalized LL2,23.6,11000.0,1.0,25.78,10000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2838,HTSCq.L,Market Price,2019-11-07T17:00:00.081069,0,Normalized LL2,23.6,11000.0,1.0,25.78,10000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2839,HTSCq.L,Market Price,2019-11-07T17:00:00.081069,0,Normalized LL2,23.6,11000.0,1.0,25.78,10000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2840,HTSCq.L,Market Price,2019-11-07T17:00:00.081069,0,Normalized LL2,23.6,11000.0,1.0,25.78,10000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2841,HTSCq.L,Market Price,2019-11-07T17:00:01.240348,0,Normalized LL2,23.6,11000.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
HTSC_TAS_df

                       Date-Time            Type
0     2019-11-06T17:30:00.281636           Quote
1     2019-11-06T17:30:00.281636  Mkt. Condition
2     2019-11-07T03:55:00.123212           Trade
3     2019-11-07T08:50:00.054196  Mkt. Condition
4     2019-11-07T08:50:00.055174           Quote
...                          ...             ...
2860  2019-11-07T17:00:00.068136           Quote
2861  2019-11-07T17:00:01.240362           Quote
2862  2019-11-07T17:10:43.258904           Trade
2863  2019-11-07T17:10:43.331008           Trade
2864  2019-11-07T17:15:00.081804  Mkt. Condition

[2865 rows x 2 columns]

In [11]:
HTSC_depth_df.merge(HTSC_TAS_df, on='Date-Time')

,#RIC,Domain,Date-Time,GMT Offset,Type_x,L1-BidPrice,L1-BidSize,L1-BuyNo,L1-AskPrice,L1-AskSize,...,L9-AskPrice,L9-AskSize,L9-SellNo,L10-BidPrice,L10-BidSize,L10-BuyNo,L10-AskPrice,L10-AskSize,L10-SellNo,Type_y
0,HTSCq.L,Market Price,2019-11-07T09:14:13.164333,0,Normalized LL2,25.3,36760.0,4.0,25.38,10979.0,...,26.12,300.0,1.0,NaN,NaN,NaN,26.5,520.0,2.0,Quote

In [12]:
HTSC_depth_shift = HTSC_depth_df.shift(-1)

df = pd.DataFrame()
columns = ['L1-BidSize', 'L1-BuyNo', 'L2-BidSize', 'L2-BuyNo', 'L3-BidSize', 'L3-BuyNo', 'L4-BidSize', 'L4-BuyNo', 'L5-BidSize', 'L5-BuyNo']

for col in columns:
    df[col] = HTSC_depth_shift[col] - HTSC_depth_df[col]

In [13]:
# Order entry
order_condition = (df['L1-BidSize'] > 0) & (df['L1-BuyNo'] > 0) & (df['L2-BidSize'] == 0) & (df['L2-BuyNo'] == 0) & \
                  (df['L3-BidSize'] == 0) & (df['L3-BuyNo'] == 0) & (df['L4-BidSize'] == 0) & (df['L4-BuyNo'] == 0) & \
                  (df['L5-BidSize'] == 0) & (df['L5-BuyNo'] == 0)
df[order_condition]

,L1-BidSize,L1-BuyNo,L2-BidSize,L2-BuyNo,L3-BidSize,L3-BuyNo,L4-BidSize,L4-BuyNo,L5-BidSize,L5-BuyNo
24,75.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,490.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,610.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,584.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160,2321.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2539,185.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2543,185.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2560,489.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2562,410.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2568,266.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Amendment
amendment_condition = (df['L1-BidSize'] > 0) & (df['L1-BuyNo'] > 0) & (df['L2-BidSize'] < 0) & (df['L2-BuyNo'] < 0)
df[amendment_condition]

,L1-BidSize,L1-BuyNo,L2-BidSize,L2-BuyNo,L3-BidSize,L3-BuyNo,L4-BidSize,L4-BuyNo,L5-BidSize,L5-BuyNo
32,34010.0,2.0,-33988.0,-2.0,53.0,0.0,1350.0,0.0,9500.0,0.0
293,2974.0,2.0,-3116.0,-2.0,-126.0,0.0,1350.0,0.0,0.0,0.0
313,3044.0,3.0,-3541.0,-3.0,53.0,0.0,-126.0,0.0,1350.0,0.0
2255,7846.0,2.0,-9686.0,-2.0,9500.0,0.0,-9850.0,0.0,1350.0,0.0
2333,9686.0,2.0,-186.0,-2.0,-9850.0,0.0,1350.0,0.0,0.0,0.0
2338,10168.0,2.0,-9686.0,-2.0,9500.0,0.0,-9850.0,0.0,1350.0,0.0
2381,266.0,1.0,-494.0,-1.0,9500.0,0.0,-9850.0,0.0,1350.0,0.0

In [16]:
# Cancellation
amendment_condition = (df['L1-BidSize'] > 0) & (df['L1-BuyNo'] > 0) & (df['L2-BidSize'] < 0) & (df['L2-BuyNo'] == 0)
df[amendment_condition]

,L1-BidSize,L1-BuyNo,L2-BidSize,L2-BuyNo,L3-BidSize,L3-BuyNo,L4-BidSize,L4-BuyNo,L5-BidSize,L5-BuyNo
2799,7687.0,1.0,-8961.0,0.0,-3553.0,-1.0,29917.0,0.0,-20191.0,0.0